*
{
    padding : 0;
    margin  : 0;
    box-sizing: border-box;
  
   
}

html{
    max-width: 1200px;
    margin:auto ;
    background-image: linear-gradient(#b3b0b0, #2e2d2d);
}



body
{

    background-image: url();
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
   
   

}


.menu-bar
{
    /*background:rgba(0, 2, 2, 0.904);*/
   
    position:static;
    display:flexbox;
    background-image: linear-gradient(#595e66, #121212);
    backdrop-filter: blur(150px);
    text-align: center;
    font-size: 1em;
    width:auto;
    z-index: 100000;
}

.logo{
    width: 10%;
}
.logo img{
    width:100%;
}

#buttons
{
    display: inline-flex;
    list-style: none;
    /*color: #500909;*/
    padding: 0;
    margin:1em;
    border:solid;
    border-width: 1px;
    border-color:#ff4800;
  

}

    .active-contact{

   background-color:#ff4800;
   padding: 1.2em;
   top:0;
   left:0;
   border:solid;
   border-width: 1px;
   border-color:#ff4800;
   border-right: transparent;
   padding-right:2em;   
   padding-left: 2em;  
    }

    .menu-bar .active-contact a{
        color:#000;
    }

    .menu-bar #buttons .active-contact:hover a{

        color:#ff4800;
       
        transition: 0.6s;
        transition-duration: 0.2ms;

    }

    .menu-bar #buttons .active-contact:hover{

       
        background-color: #000;
        transition: 0.6s;

    }

    
 .active
    {

   padding: 1.2em;
   padding-left: 2em;  
   padding-right:2em;
   top:0;
   left:0;
   background-color: rgba(0,  0 , 0, .2);

  
    }

.menu-bar #buttons .active:hover a{

    color:#000;
    transition: 0.6s;
    transition-duration: 0.2ms;

}

.menu-bar #buttons .active:hover{

   
    background-color: #fff;
    transition: 0.6s;

}



.menu-bar ul li a
{
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: 0.6s;

}

.active a:hover{

    color:#ff4800;
}

.menu-bar .fa
{
    margin-right: auto;
}

@media (max-width: 992px){
.menu-bar{
   /* padding: 1.3rem 5%;*/
}
}




#check
{
    display:none;
}

.icons{
   
    font-size: 2.5rem;
 
    cursor: pointer;
    display:none;
    color: #fff;
   /* background: #500909;*/
  

}

.float{
	position:fixed;
	width:60px;
	height:60px;
	right:4%;
	background-color:#fa692f;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
    display: none;
}

.my-float{
	margin-top:16px;
}


.container-emum{

   
    display:flexbox;
    background-color: rgba(0,  0 , 0, .2);
    margin: auto;
    text-align: center;
    font-size: 1em;
    width:50%;
    color: #FFF;
}


.enum{
   
        display: block;
        position:relative;
        align-items: center;
        list-style: none;
        padding: 1em;      
        width: 100%;
        margin: auto;
      
       
      
}

.enum li {
    display: inline-flex;
    padding: 2em;
}



.container-text{    
    padding: 1em;
    text-align: center;
    margin: auto;
}

@media (max-width: 768px){

    .container-emum{
        width: 100%;
    }


    .icons{
        display:block;    
        width: 100%;
        top:0;
        left:0;
        color:#ff4800
    }

    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #menu-icon{

        display:none;
    }


    #check:checked~.icons #close-icon{
        transition-delay: 2s;
        display:block;
    }

    #check:checked~#buttons { 
        display:block;
       
    }
   
    #buttons{
        display:none;
        border: none;
  
       
       
    }
    
    .menu-bar{
        
        width: 100%;
       
        backdrop-filter: blur(50px);
    }

   
    .menu-bar ul {
        top:0;
        left:0;
        display: block;
        font-size: 1.1rem;
        margin:1.5rem 0;
        text-align: center;
        
       
    }

    .float{
        display: block;
    }
    
    .active-contact{

        background-color:#ff4800;
        padding: 1.2em;
        
        border:none;
       
     
         }
     
         .menu-bar .active-contact a{
             color:#000;
         }

         .active{
            background-color: inherit;
         }
     
         .menu-bar #buttons .active-contact:hover a{
     
            
            
     
         }
     
         .menu-bar #buttons .active-contact:hover{
     
            
        
     
         }

       
    
}


.carousel{

    width: 100%;
    height: 50vh;
    position: relative;
   
    
}

section{
   
    margin: 1em;
    border: solid;
    border-width: 1em;
    border-color:  linear-gradient(#595e66, #121212);
   
}


.carousel > ul{
    margin: 0;
    padding: 0;
    list-style:none;
}


.slide{
    position: absolute;
    inset:0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

}

.slide > img{

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background:none;
    border:none;
    font-size: 4rem;
    top:50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.842);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 0.5rem;
    background-color: rgba(2, 1, 1, 0.342);
}

.carousel-button:hover,
.carousel-button:focus{
    color:#fd701e;
    background-color: rgba(0,  0 , 0, .2);
}

.carousel-button:focus{

    outline: 1px solid black;
}


.carousel-button.prev{
    left:1rem;
}

.carousel-button.next{
    right:1rem;
}




.text-img{

    margin-top: 2%;
    border: solid;
    border-color: #ff4800;

}


.text-img ul{
    padding-left: 0;

    display: inline-flex;
    list-style: none;
}



.text-img ul li{

    width: 100%;
    padding: 2em;
    
    }
.text-img ul img{

width:100%;



}

.text-img  h2{

  margin-left: 1em;
    
    
}




footer {
    background-image: linear-gradient(#595e66, #121212);
    width: calc(100%);
    padding: 1rem;
    bottom: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #fff;
  }

/* CONTACT CSS*/

footer a{

   color:#fff;

}

footer a:hover{
 
    color:#ff4800;
}

.container{
    width: 100%;
    height: 100vh;
    background: #001660;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* contact nav */
